<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <div>
      <label for="projectName">Project Name</label>
      <input id="projectName" type="text" formControlName="projectName">
    </div>

    <div>
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email">
    </div>

    <div>
      <label for="status">Status</label>
      <select id="status" name="status" formControlName="status">
        <option value="stable">Stable</option>
        <option value="critical">Critical</option>
        <option value="finished">Finished</option>
      </select>
    </div>
  </div>
  
  <button type="submit">Submit</button>

  @if (form.invalid && form.touched) {
    <p>
      Invalid form - check your input data.
    </p>
  }
</form>
